      <div class="col-sm-4">
        <p class="text-color white"> Drop us a line, I'd love to hear from you!</p>
        <ul class="list-unstyled contact-list">
          <li>
            <h2 class="h2 text-color white">Office</h2>
            <p class="text-color white">
              I love to work from home and hold meeetings on skype, or at ofee shop. I prefer cofee shops. 
              Here's a nice one close to where I leave.
            </p>
            <div class="map"><img src="https://dummyimage.com/360x200/000" class="img-responsive"></div>
          </li>
          <li>
            <h2 class="h2 text-color white">Where Else?</h2>
            <p class="text-color white">
              Did I hear you ask where else you can find me, that's easy please find below a list of placesw you can find me online.
            </p>
            <ul class="list-unstyled  contact-list">
              <li>
                <a class="" href="https://uk.linkedin.com/in/patrick-akpala-9b38a940" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Linkedin">
                  <i class="fa fa-linkedin  fa-lg"></i> Linkedin
                </a>
              </li>
              <li>
                <a class="" href="https://twitter.com/akpalapatrick" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Twitter">
                  <i class="fa fa-twitter  fa-lg"> </i> Twitter
                </a>
              </li>
              <li>
                <a class="" href="https://github.com/kemaakpala" target="_blank" data-toggle="tooltip" data-placement="bottom" title="github">
                  <i class="fa fa-github  fa-lg"></i> Github
                </a>
              </li>
              <li>
                <a class="" href="https://www.freecodecamp.com/kemaakpala" target="_blank"  data-toggle="tooltip" data-placement="bottom" title="Free Code Camp">
                  <i class="fa fa-free-code-camp  fa-lg"></i> Free code camp
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </div>