
<div class="row" id="contact">
  <div class="col-sm-12">
    <div class="row">

      <div class="col-sm-12">
        <h2 class="h2 text-color white">Contact</h2>
      </div>
      <div id="map" class="col-sm-12">

      </div>
    </div>
    
    <form name="contactForm" ng-submit="submit()" novalidate>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group" ng-class="{'has-error' : contactForm.firstname.$invalid && !contactForm.firstname.$pristine}">
            <input type="text" class="form-control" placeholder="First Name" name="firstname" value="" ng-model="firstname" required ng-minlength="2"> 
            <span>{{contactForm.firstname.$valid}}{{contactForm.firstname.$pristine}}</span>
            <p ng-show="contactForm.firstname.$invalid && !contactForm.firstname.$pristine" class="help-block">You First Name is required.</p>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Last Name" name="lastname" value="" ng-model="lastname"> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group" ng-class="{'has-error' : contactForm.email.$invalid && !contactForm.email.$pristine}">
            <input type="email" class="form-control" placeholder="Email" name="email" value="" ng-model="email" required>
            <span>email.error: {{contactForm.email.$invalid }}</span>
            <p ng-show="contactForm.email.$invalid && !contactForm.email.$pristine" class="help-block">Enter a valid email.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group" ng-class="{'has-error' : contactForm.subject.$invalid && !contactForm.subject.$pristine}">
            <input type="text" class="form-control" placeholder="Subject" name="subject" value="" ng-model="subject" required ng-maxlength="50">
            <p ng-show="contactForm.subject.$invalid && !contactForm.subject.$pristine" class="help-block">A subject is required.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="form-group" ng-class="{'has-error' : contactForm.message.$invalid && !contactForm.message.$pristine}">
            <textarea class="form-control" name="message" placeholder="enter message here" rows="5" ng-model="message" required></textarea>
            <p ng-show="contactForm.message.$invalid && !contactForm.message.$pristine" class="help-block">A message is required.</p>
          </div>
        </div>
      </div>
        <div class="row">
          <div class="col-sm-12">
            <div class="form-group">
              <input type="submit" class="btn btn-default btn-block" ng-model="submit" ng-disabled="contactForm.$invalid" value="Submit">
              <div class="g-recaptcha" data-sitekey="6Lff1SEUAAAAAGBz86rQA-9WhNcAqhOzFYFYgM6-"></div>
            </div>
        </div>
      </div>
    </form>
  </div>
</div>
