/* SASS Imports */
/* 
  this will work as well: @import "partials/variables , partials/mixins";. 
  it's better to do what's below as that's more readable
*/
@import "partials/functions";
@import "partials/variables";
@import "partials/mixins";

@include google-font("Alegreya+Sans");
@include google-font("Titillium+Web");

@include fancy-links($style:normal, $color:red);

body {
  font-family: sans-serif;
  color: $text-color;
  font-size: em(18px);
  @include large-screens{
    font-size: 125%;
  }
}

h1, h2, h3, h4 {
  font-family: $headline-font;
}
h1{
  @include large-text(32px);
}
h2{
  @include large-text();
}
p {
  font-family: $text-font;
}

a {
  color: $link-color;
  &:hover {
    color: darken($link-color , 15%);
  }
}
.warning-button{
  @include warning();
  padding: 8px 12px;
}
@include apply-to-ie-6{
  body{
    font-size: 125%; 
  }
}
#header {
  @include box ($border: 1px solid #fff, $radius: 12px);// makes for more readable code
  @include box-shadow(2px 0px 4px #999, 1px 1px 6px $secondary-color);
  height: $header-height;
  background-color: $theme-color;
  #main-menu {
    li {
      display: inline;
    }
    a {
      color: $menu-item-color;
      padding:6px 8px;
      border-bottom:1px solid transparentize(#fefefe, 1);
      transition:border-bottom 0.5s;
      transition-timing-function: ease-in-out;

      &:hover{
        border-bottom: 1px solid opacify(#fefefe , 0.5);
      }
    }
  }
  
  #logo {

  }
}

#main {
  width: $content-width;
  @include large-screens{
    width: auto;
    max-width: $content-width;
  }
  margin-left: auto;
  margin-right: auto; 
  #content {
float:left;
width:6 *$col;
  }

  #sidebar {
    float:right;
    width:2 *$col;
    li{
      list-style-type: none;
      padding:em(16px) em(20px);
      border-bottom:1px dashed #999;
    }
  }
}

#footer {
  height: $footer-height;
  background-color: $ternary-color;

}
